.main-product-sections{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* width: 90%; */
    max-width: 1110px;
    margin-left: 25%;
}

@media(max-width:767px){
    .main-product-sections{
        width: 90%;
        margin: auto;
        /* margin: 10px !important; */
    }
}
@media(min-width:768px){
    .product-container{
        margin-left: 13%;
        /* padding: 10px; */
        margin-right: 10%;
    }
}
.big-container-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.settings-big-cart-container{
    background: #dcc3bba8;
    padding: 10px;
    width: 23%;
    margin: 10px 0px;
    border-radius: 10px;
}

@media(max-width:768px){
    .settings-big-cart-container{
        width: 45% !important;
    }
}